<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="    background-color: green;
display: flex;
justify-content: center;
margin-top: 102px;
">
    <form action="send_data" method = "POST">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="usernmae" required></td>
            </tr>
            <tr>
                <td>Age</td>
                <td><input type="number" name="age" required></td>
            </tr>
           
    
        </table>
        <div style="position: absolute;
        margin-top: 27px;
        margin-left: 88px;">
            <button type="submit">Submit</button>
        </div>
    </form>
    
</body>
</html>