{% extends "base.html" %}



{% block body %}


<div style="    display: flex;
justify-content: center;
color: red;">
    <div style="width: 61%; height: auto; border: 2px solid; padding: 11px;">
        <h1 style="text-align: center;">Show Data</h1>
        <div>
            <div style="padding: 12px;
            border: 2px solid;
            max-width: 31%;
            border-radius: 10px;">
                <h4>Full Name : <span class="spantah">Kriss</span></h4>
                <h4>Phone Number : <span class="spantah">2983643648</span></h4>
                <h4>Email : <span class="spantah">abc@gmail.com</span></h4>
                <h4>Message : <span class="spantah">This is my messsage</span></h4>
            </div>
        </div>
    </div>
</div>




{% endblock body %}